<div class="video" id="<%= dom_id video %>">
  <iframe class="player" width="410" height="330" src="http://www.youtube.com/embed/<%= video.youtube_id %>" frameborder="0" allowfullscreen></iframe>
  <div class="stats clearfix">
    <div class="time-pos<%= " winner" if video.rank < 4 %>">
      <%= video.drop_time / 1000.0 %>s
      <% if video.rank < 4 %>
        <span class="winner">
          <%= (rank_in_words video.rank).upcase %>
        </span>
      <% end %>
    </div>
    <div class="location">
      <% if video.city %>
        <%= video.city %>,
        <%= video.state %>,
        <%= video.country %>
      <% end %>
    </div>
    <div class="who-when-where">
      Uploaded by <span class="author"><%= video.author %></span> on <%= video.published_at.strftime("%b %d, %Y") %>
    </div>
  </div>
  <p class="title"><%= video.title %></p>
  <p><%= video.description %></p>
  <% if current_user and current_user.admin? %>
    <div class="disable">
      <%= form_for video, :url => disable_video_path(video) do |f| %>
        <%= f.submit "Disable" %>
      <% end %>
    </div>
  <% end %>
</div>
